<section class="box">
	{{#products}}
		<div id={{this.id}} class="box-product">
			<h2>{{title}}</h2>
            <p>Descrpción: {{description}}</p>
            <p>${{price}}</p>
            <p>Cant: {{stock}}</p>
		</div>
	{{/products}}
</section>